body {
    background-color: black;
    background-image: url("../images/background.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: left bottom;
    background-size: 40%;
    color: gold;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

img {
    height: 100px;
    width: 150px;
    border-radius: 50%;
}

.main-section-title {
    font-size: 300%;
    text-align: center;
}

.div-title {
    font-size: 150%;
}

.character {
    display: inline-block;
    background-color: transparent;
    text-shadow: -1px 0 silver, 0 1px silver, 1px 0 silver, 0 -1px silver;
}

.character-image {
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 3px;
    margin-bottom: 3px;
}

.character-name .character-health {
    text-align: center;
}

#queue-section .character {
    display: inline-block;
    background-color: transparent;
    border: solid 1px black;
}

.enemy {
    display: inline-block;
    background-color: silver;
    border: solid 1px black;
}

#action .character .target-enemy {
    color: white;
    background-color: black; 
}

#chosen-character #attacker #defender {
    width: 190px;
    height: 160px;
}

#defender-name #defender-health {
    text-align: center;
}

#choose-enemy-button #restart-button{
    visibility: hidden;
}

#turn-counter {
    font-size: 150%;
}

#game-message {
    position: fixed;
    right: 0;
    top: 20%;
    height: 100%;
    width: 40%;
    z-index: 0;
}

#result-message  {
    text-align: center;
    font-size: 150%;
}